{
  default_sni mee.nofech.cz
}

http://217.195.164.4 {
  redir https://mee.nofech.cz{uri}
}

kenti.bublina.eu.org mee.nofech.cz {
  root * /home/nisim/web/mee/public
  encode zstd gzip
  file_server
  @jitsi-dirs {
    path /css/* /static/* /images/* /lang/* /libs/* /sounds/* /extra/*
  }
  header {
	# enable HSTS
	Strict-Transport-Security max-age=31536000;

	# disable clients from sniffing the media type
	#X-Content-Type-Options nosniff

	# clickjacking protection
	#X-Frame-Options DENY

	# keep referrer data off of HTTP connections
	Referrer-Policy no-referrer-when-downgrade
  }
  header @jitsi-dirs Cache-Control "max-age=31536000"
  handle @jitsi-dirs
  handle /http-bind {
    reverse_proxy http://127.0.0.1:12345
    request_header Host meet.jitsi
  }
  handle /xmpp-websocket {
    reverse_proxy http://127.0.0.1:12345
    request_header Host meet.jitsi
  }
  handle /* {
    rewrite * /index.html
  }
}

meet.nofech.cz, jitsi.nofech.cz {
  root * /home/nisim/web/meet.nofech.cz/public
  encode zstd gzip
  file_server
  @jitsi-dirs {
    path /css/* /static/* /images/* /lang/* /libs/* /sounds/* /extra/*
  }
  header {
	# enable HSTS
	Strict-Transport-Security max-age=31536000;

	# disable clients from sniffing the media type
	#X-Content-Type-Options nosniff

	# clickjacking protection
	#X-Frame-Options DENY

	# keep referrer data off of HTTP connections
	Referrer-Policy no-referrer-when-downgrade
  }
  header @jitsi-dirs Cache-Control "max-age=31536000"
  handle @jitsi-dirs
  handle /http-bind {
    reverse_proxy http://127.0.0.1:12345
    request_header Host meet.jitsi
  }
  handle /xmpp-websocket {
    reverse_proxy http://127.0.0.1:12345
    request_header Host meet.jitsi
  }
  handle /* {
    rewrite * /index.html
  }
}
