meet.nofech.cz jitsi.nofech.cz {
  root * /home/nisim/web/meet.nofech.cz/public
  encode zstd gzip
  file_server
  header /* Cache-Control "max-age=31536000"
  handle /css/*
  handle /images/*
  handle /lang/*
  handle /libs/*
  handle /sounds/*
  handle /static/*
  handle /http-bind* {
    reverse_proxy 127.0.0.1:12345
  }
  handle /* {
    rewrite * /index.html
  }
}

mee.nofech.cz {
  root * /home/nisim/web/mee/public
  encode zstd gzip
  file_server
  header /* Cache-Control "max-age=31536000"
  handle /css/*
  handle /images/*
  handle /lang/*
  handle /libs/*
  handle /sounds/*
  handle /static/*
  handle /http-bind* {
    reverse_proxy 127.0.0.1:12345
  }
  handle /* {
    rewrite * /index.html
  }
}
